html{
	height: 100%;
    width: 100%;
}

body {
	font-family: Trebuchet MS, Arial;	
	height: 100%;
    width:100%;
	margin: 0px;
    background-color: GhostWhite;
    text-align: center;
}

/* ============================ */
/* Begin Header CSS */
.header {
	width: auto;
	background-image: url("images/World Map Night.jpg");
	background-position: right 50% bottom 75%; /* Adjust image view in header */
	background-color:  rgba(0, 0, 0, 0.5);
	background-size: cover;
	background-repeat: no-repeat;
	padding-bottom: 5%;
	margin-bottom: 12px;
	text-align: center;
}

.header h1{
	font-family: Copperplate Gothic Light;
	color: Ivory;
	text-align: center;
	font-size: 60px;
	padding-top: 30px; /* Give space at top of page */
	margin-block-start: 0px; /* Margin begins at top of page so no scrolling */
	margin-block-end: 0px; 
	text-shadow: 2px 2px black;
	text-align: center; /* Center Text */
	position: relative; /* Position Text Next to Image */
	padding-right: 500px; /* Position Text Next to Image */
}

.header h5{
	font-family: Copperplate Gothic Light;
	color: Ivory;
	font-size: 20px;
	margin-block-start: 0.67em; /* Margin begins at top of page so no scrolling */
	margin-block-end: 0px; 
	text-shadow: 2px 2px black;
	text-align: center; /* Center Text */
	position: relative; /* Position Text Next to Image */
	padding-right: 500px; /* Position Text Next to Image */
}

.header img {
	float: left;
	border-radius: 50%;
	display: block;
	margin-left: 22%;
	margin-top: 2%;
	width: 150px;
	height: 150px;
}

/* ============================ */
/* Begin Navigation Bar CSS */
nav a {
    padding: 0px 12px 0px 12px;
	width: 33%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
	color: black;
    text-align: center;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
	font-family: Bodoni MT;
}

.navbar-brand, .navbar-nav, .navbar-nav>li {
	float: none !important;
  }
  
  .navbar-nav {
	display: block;
  }
  
  .navbar-nav>li {
	flex: 1;
  }

/* unvisited link */
a:link {
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color:  rgba(0, 0, 0, 0.5);
}

hr {
	border-top: 1px solid #095484;
}

/* ============================ */
/* Begin Body CSS */
div#content {
	width: auto;
	height: auto;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin-top: 5%;
}

article {
    float: center;
	color: black;
	width: 100%;
	font-size: 20px;
}

/* ============================ */
/* Begin Footer CSS */
footer {
	position: fixed;
	left: 0;
	bottom: 0;
	color: white;
	background-color: IndianRed;
	width: 100%;
	height: 50px;
}

footer p {
	text-align: left;
	padding-left: 10px;
	font-weight: bold;
}